{% extends "layout.html" %}

{% block title %}
    Sell Stocks
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select class="form-select" name="symbol">
                <option disabled selected>Select a stock</option>
                {% for symbol in symbols %}
                    <option value="{{ symbol }}">{{ symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control" name="shares" placeholder="Number of Shares" type="text">
        </div>
        <button class="btn btn-danger" type="submit">Sell</button>
    </form>
{% endblock %}
